@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css);
@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);

* {
	box-sizing: border-box;
}

body {
	font-size: 10px;
    font-family: "Montserrat", sans-serif;
}

header {
	background-image: url(../img/capa-madmax2.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	height: 90vh;
	padding: 20px;
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

	header:after { /* after content inside header */
		background: linear-gradient( 0deg, rgba(0, 0, 0, 0.6) 0%, rgba(0, 212, 255, 0) 75% );
		content: "";
		height: 100%;
		left: 0;
		position: absolute;
		top: 0;
		width: 100%;
	}

	header li a {
		transition: all 0.2s ease-in-out; /* hover effect  */
	}

	header li a:hover {
		color: #e4bb23;
	}

ul {
	list-style-type: none; /* removes the bullets */
	margin: 0; /* removes browser default settings  */
	padding: 0;  /* removes browser default settings  */
}

li a {
	text-decoration: none;
}

nav {
	z-index: 2;
	display: flex;
}

	nav ul {
		display: flex;
	}

	nav li {
		margin: 0 25px;
	}

	nav li a {
		color: white;
		font-size: 1.3em;
		font-weight: bold;
		text-transform: uppercase;
		transition: all 0.2s ease-in-out; /* hover effect  */
	}

	nav .container {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}

.container {
	position: relative;
	width: 960px;
	margin: 0 auto;
}

.user {
	display: flex;
	align-items: center;
}

	.user img {
		border-radius: 50%;
		width: 45px;
		height: 45px;
		margin-right: 15px;
		box-shadow: 0 2px 3px rgba(0, 0, 0, 0.5);
	}

.user-name {
	color: white;
	font-size: 1.3em;
	font-weight: bold;
}

.trailer-button {
	background-color: #e4bb23;
	border: none;
	padding: 16px 50px;
	text-align: center;
	text-decoration: none;
	font-size: 1.5em;
	cursor: pointer;
	position: relative;
	transition: all 0.2s ease-in-out;
}

.trailer-button:hover {
    background-color: #bc9a1d;
}

.trailer-button i {
	font-size: 1.5em;
    right: 15px;
	top: 12px;
	position: absolute;
}

.roundedButton {
	border-radius: 50px;
}

.date {
	color: #bc9a1d;
}

.featured-movie {
	z-index: 2;
}

	.featured-movie ul {
		display: flex;
		font-size: 13px;
		margin: 15px 0 30px 0;
	}

	.featured-movie li {
		margin-right: 15px;
	}

	.featured-movie li a {
		color: white;
	}

	.featured-movie h2 {
		color: #fff;
		font-size: 6.5em;
		font-weight: bold;
		line-height: 1.2em;
		margin: 0;
		text-transform: uppercase;
	}

.featured-movie .info {
	font-size: 1.4em;
	color: #fff;
	padding: 21px 0;
}

footer {
	background-color: #fff;
    color: #bababa;
    padding: 20px 0;
    text-align: center;
	width: 100%;
	display: flex;
	justify-content: space-between;
}

	footer ul {
		display: flex;
		align-items: center;
		font-size: 2.5em;
	}

		footer ul li {
			margin-left: 40px;
		}

			footer ul li a {
				color: #bababa;
				
			}

	footer a .fa {
		transition: all 0.2s ease-in-out;
	}

	footer a .fa-twitter:hover {
		color: #55acee;
	}

	footer a .fa-facebook-official:hover {
		color: #3b5998;
	}

	footer a .fa-instagram:hover {
		color: #e95950;
	}

.catalog {
	background-color: #f2f2f2;
}

	.catalog nav a {
		color: #e4bb23;
		padding: 25px 0;
	}

	.catalog nav a:hover {
		box-shadow: inset 0 -1px 0 #e4bb23;
	}
	
	.catalog nav ul {
		justify-content: center;
		width: 100%;
		border-bottom: 1px solid rgba(0, 0, 0, 0.08);
		padding: 25px 0;
	}

	.catalog nav li {
		margin: 0 20px;
	}

.movie-list {
	display: flex;
	flex-direction: row;
	padding: 30px 0;
	justify-content: space-between;
	flex-wrap: wrap;
}

.movie-list li {
	background-color: #fff;
	width: 24%;
	overflow: hidden;
	border-radius: 8px;
	margin-bottom: 30px;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.movie-list img {
	width: 100%;
}

.movie-list figure {
	margin: 0;
	width: 100%;
	position: relative;
}

.movie-list li:hover .movie-poster-info {
    opacity: 1;
    visibility: visible;
}

.movie-summary {
	padding: 10px;
	display: flex;
	flex-direction: column;
}

.movie-summary h3 {
	font-size: 1.3em;
    font-weight: bold;
    margin: 0;
    text-transform: uppercase;
}

.movie-gender a {
	text-decoration: none;
    font-size: 1.2em;
    color: #e4bb23;
}

.movie-gender a:hover {
	text-decoration: underline;
}

.movie-gender a:after {
	content: ',';
}

.movie-gender a:last-child:after {
	content: '';
}

.movie-rate {
	margin: 0;
	font-size: 2em;
	font-weight: bold;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.movie-rate .fa-heart {
	color: #ccc;
}

.movie-rate .fa-heart:hover {
	color: #e74c3c;
}

.movie-poster-info {
	background-color: rgba(0, 0, 0, 0.5);
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	position: absolute;
	height: 100%;
	width: 100%;
	top: -3px;
	z-index: 1;
	transition: all 0.2s ease-in-out;
	opacity: 0;
}
.movie-poster-info h3 {
	font-size: 2em;
	color: #e4bb23;
	text-transform: uppercase;
}
.movie-poster-info a {
	font-size: 5em;
	color: #fff;
}
